    <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="headerFragment" class="site-header">
    <h1 class="company-name">Big XP Bowl</h1>

    <style>
        .company-name {
            margin: 0;
            font-size: 28px;
            font-family: Arial, sans-serif;
            color: #0c2c3b;
            padding-top: 0.5rem;
        }
        .site-header {
            height: 10vh;
            padding: 0 20px;
            background-color: #9fbdcc;
            border-bottom: 2px solid #000000; /* Line showing where header ends */
            /*box-sizing: border-box;*/
            display: flex;
        }
    </style>
</header>
</body>
</html>
